@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-montserrat: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
}

* {
  font-family: var(--font-montserrat) !important;
}

html,
body,
body * {
  font-family: var(--font-montserrat) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

:root {
  --primary-50: #f0f9ff;
  --primary-100: #e0f2fe;
  --primary-500: #0ea5e9;
  --primary-600: #0284c7;
  --primary: #0f3a66;
}

.text-primary {
  color: var(--primary);
}

.text-primary-500 {
  color: var(--primary-500);
}

.text-primary-600 {
  color: var(--primary-600);
}

.bg-primary {
  background-color: var(--primary);
}